<%= render 'pages/home' %>
<!-- what had previously been displayed inside of tables now also becomes the CSS STYLE Pins. this style is also being acted on by JS Masonry -->
<div id="pins">
  <%= render @pins %>
</div>

<%= will_paginate @pins %>