<% if user_signed_in? %>


<% else %>
	<div class="hero-unit">
		<h1> You are in it! </h1>

		<h1>A long title to an app that does nothing!</h1>
		<p>
			some filler and more filler
			<%= link_to "a button link", "#" %>

		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>

<% end %>
