

<h1>A long title to an app that does nothing!</h1>
<p>
	some filler and more filler
	<%= link_to "a button link", "#" %>

</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>

